<!DOCTYPE html>
<html>
<head>
    <title>You cracked the egg!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
</head>
<body>
<h1>Easter egg:</h1>
<img src="{{ url_for('static', filename='certificate/90rp.png') }}" alt="90rp certificate">
<h3>Motivation to get 90rp for A-Level 💪</h3>
</body>

<footer>
    <!-- This is the copyright section -->
    <p>© 2023 Eliza Goy</p>
</footer>
</html>